/*!
Theme Name: Valentine Interiors
Theme URI: www.shekhkamal.com
Author: Shekh Kamal Hussain
Author URI: http://www.shekhkamal.com
Description: Custom Theme for : Valentine Interiors
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:
Tags:



Azcods Theme  is distributed under the terms of the GNU GPL v2 or later.


*/
/* link Color */
/* =======================================================================
## ++ Media Queries
========================================================================== */
/*
    Used for media queries.
    Add these mixins in your normal scss flow.

    Eg.
    .container{
        width:1024px;

        @include tablets{
            width:90%;
        }
    }
*/
/* =======================================================================
## ++ Unit transform
========================================================================== */
/*
    Used for making containers have width in percentages.
    Usage: define elemnt width in px and the width of parent elemnt in px.
    eg. .block{width:cp(512px, 1024px)} this will result in .block{width:50%;}
*/
/*
    Used for making px values convert to rem values
    Usage: define font-size in px and it will convert to rems
    eg. font-size: rem(14px);
*/
/*
    Link hover and active stage
*/
/*
button-variant-darken($color, $background);
button-variant-lighten($color, $background);
button-variant-multi($color, $color-hover, $background, $background-hover);
button-variant-transparent($color, $color-hover, $border-color, $border-color-hover, $border-size)
*/
/* button-font-style($text-transform, $font-weight) */
/* button-radius($radius) */
/* button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) */
/* button-spacing($margin) */
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700");
.btn-sk {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
}

.btn-sk-lg {
  padding: 15px 50px;
  font-size: 16px;
  line-height: 1.7;
  border-radius: 5px;
}

.btn-sk-md {
  padding: 12px 40px;
  font-size: 16px;
  line-height: 1.55;
  border-radius: 5px;
}

.btn-sk-nm {
  padding: 10px 35px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-sk-sm {
  padding: 5px 20px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-shop {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.btn-shop:focus, .btn-shop.focus {
  color: #bb9095;
  border: 2px solid #bb9095;
}
.btn-shop:hover {
  color: #bb9095;
  border: 2px solid #bb9095;
}

.btn-pink-theme.et_pb_bg_layout_light {
  color: #bb9095 !important;
  padding: 0.8em 1.7em !important;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* =======================================================================
## ++ Globals
========================================================================== */
html {
  font-size: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Raleway', sans-serif !important;
}

* {
  box-sizing: border-box;
}

/* =======================================================================
## ++ Cleafix
========================================================================== */
/* float clearing for IE6 */
* html .clearfix, * html #image-pop-wrapper {
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
* + html .clearfix, * + html #image-pop-wrapper {
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after, #image-pop-wrapper:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.clr {
  clear: both;
}

.post-card__item, .latest-project-container, .latest-project__list, .project-listing-page, .project-card__wrapper .card--link, .project-card__description, .contact_form_theme .et_contact_bottom_container {
  clear: both;
}
.post-card__item:after, .latest-project-container:after, .latest-project__list:after, .project-listing-page:after, .project-card__wrapper .card--link:after, .project-card__description:after, .contact_form_theme .et_contact_bottom_container:after {
  content: " ";
  display: block;
  clear: both;
}
.post-card__item:before, .latest-project-container:before, .latest-project__list:before, .project-listing-page:before, .project-card__wrapper .card--link:before, .project-card__description:before, .contact_form_theme .et_contact_bottom_container:before {
  content: " ";
  display: block;
  clear: both;
}

@media (max-width: 1199px) {
  .home .et_divi_builder #et_builder_outer_content .et_pb_with_background .et_pb_row {
    width: 100% !important;
  }
}
@media screen and (max-width: 1199px) and (max-width: 767px) {
  .home .et_divi_builder #et_builder_outer_content .et_pb_with_background .et_pb_row {
    width: 80% !important;
  }
}

@media (max-width: 980px) {
  .et_divi_builder #et_builder_outer_content .et_pb_row,
  .et_divi_builder #et_builder_outer_content .et_pb_column .et_pb_row_inner {
    padding: 2px 0 !important;
  }
}
ul li {
  list-style-type: none !important;
}

ul {
  padding-left: 0px;
}

.inner-hero-banner {
  min-height: 650px !important;
}
@media screen and (max-width: 991px) {
  .inner-hero-banner {
    min-height: 450px !important;
  }
}
@media screen and (max-width: 767px) {
  .inner-hero-banner {
    min-height: 350px !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

p {
  margin-bottom: 1.5em;
  line-height: 1.8;
}

a {
  color: #555555;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  color: #3c3c3c;
  text-decoration: none;
}

.section-title-global {
  position: relative;
  text-align: center;
  margin: 15px 0 !important;
}
.section-title-global h1,
.section-title-global h2,
.section-title-global h3,
.section-title-global h4,
.section-title-global h5,
.section-title-global h6,
.section-title-global p {
  margin: 0px;
  display: inline-block;
  color: #555;
  font-family: Raleway;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}
@media screen and (max-width: 991px) {
  .section-title-global h1,
  .section-title-global h2,
  .section-title-global h3,
  .section-title-global h4,
  .section-title-global h5,
  .section-title-global h6,
  .section-title-global p {
    font-size: 24px;
  }
}
.section-title-global:after {
  content: '';
  width: 112px;
  height: 3px;
  background-color: #b4999c;
  position: absolute;
  margin-left: 20px;
  top: 20px;
}
@media screen and (max-width: 767px) {
  .section-title-global:after {
    margin-left: 50%;
    left: -56px;
    top: auto;
    bottom: -10px;
  }
}
.section-title-global:before {
  content: '';
  width: 112px;
  height: 3px;
  background-color: #b4999c;
  position: absolute;
  margin-left: -132px;
  top: 20px;
}
@media screen and (max-width: 767px) {
  .section-title-global:before {
    margin-left: 50%;
    left: -56px;
    top: -15px;
  }
}
.section-title-global.white:after {
  background-color: #fff;
}
.section-title-global.white:before {
  background-color: #fff;
}
.section-title-global .et_pb_text_inner {
  display: inline-block !important;
}

.med-text p {
  color: white;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea, select {
  color: #555;
  border: 1px solid #bbb;
  border-radius: 3px;
  padding: 10px 5px;
  font-weight: normal;
}

input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="range"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="month"]::-moz-placeholder,
input[type="week"]::-moz-placeholder,
input[type="time"]::-moz-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="datetime-local"]::-moz-placeholder,
input[type="color"]::-moz-placeholder,
textarea::-moz-placeholder, select::-moz-placeholder {
  color: #999;
  opacity: 0.8;
}
input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="range"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="week"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
input[type="color"]:-ms-input-placeholder,
textarea:-ms-input-placeholder, select:-ms-input-placeholder {
  color: #999;
}
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="range"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="color"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #999;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

textarea {
  width: 100%;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-radius: 3px;
  line-height: 1;
  padding: 10px 5px;
  color: #777;
  background-color: transparent;
  border: 2px solid #777;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 15px 20px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 3px;
  max-width: 200px;
}
button:focus, button.focus,
input[type="button"]:focus,
input[type="button"].focus,
input[type="reset"]:focus,
input[type="reset"].focus,
input[type="submit"]:focus,
input[type="submit"].focus {
  color: #bb9095;
  border: 2px solid #bb9095;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  color: #bb9095;
  border: 2px solid #bb9095;
}

#masthead-v1 {
  display: block;
  height: 100px;
}
@media screen and (max-width: 767px) {
  #masthead-v1 {
    height: 85px;
  }
}
#masthead-v1 .site-navigation {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#masthead-v1 .site-navigation.sticky-navbar {
  position: fixed;
  z-index: 1024;
  width: 100%;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#masthead-v1 .navbar-toggle {
  position: absolute;
  right: 5px;
  top: 20px;
}
#masthead-v1 .navbar {
  position: relative;
  min-height: 100px;
  margin-bottom: 0px;
  border: none;
  border-radius: 0px;
}
@media screen and (max-width: 767px) {
  #masthead-v1 .navbar {
    min-height: 85px;
  }
}
#masthead-v1 .navbar-default {
  background-color: #181b1f;
  padding-top: 10px;
  padding-left: 3%;
  padding-right: 3%;
}

.navbar-brand > img {
  display: block;
  margin-top: 8px;
  max-height: 50px;
}
@media screen and (max-width: 991px) {
  .navbar-brand > img {
    max-height: 35px;
    margin-top: 2px;
  }
}

#main-menu {
  margin-top: 15px;
}

.navbar-default .navbar-nav > li > a {
  color: #eee;
  font-family: Raleway;
  font-size: 0.813rem;
  font-weight: 400;
  text-transform: uppercase;
}

.current-menu-item a {
  color: #bb9095 !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #bb9095;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .navbar-header {
    height: 75px;
  }
}

.sub-menu {
  background-color: #fff;
  padding: 5px 0px;
  min-width: 150px;
  position: absolute;
  z-index: 999;
  display: none;
}
@media screen and (max-width: 767px) {
  .sub-menu {
    position: relative;
    display: block;
    background-color: transparent;
  }
}
.sub-menu li {
  list-style: none;
}
.sub-menu li a {
  padding: 10px 15px;
  display: block;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .sub-menu li a {
    color: #eee;
  }
}
.sub-menu li a:hover {
  background-color: #f5f5f5;
  color: #bb9095;
}
@media screen and (max-width: 767px) {
  .sub-menu li a:hover {
    background-color: transparent;
  }
}

.menu-item-has-children:hover > .sub-menu {
  display: block;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

#main-footer {
  background-color: #181b1f;
  min-height: 100px;
  padding-top: 75px;
}
#main-footer .footer-copyinfo {
  background-color: #111316;
  text-align: center;
  margin-top: 3%;
}
#main-footer .footer-copyinfo p {
  margin: 0px;
  line-height: 5;
  color: #777;
  font-family: Raleway;
  font-size: 13px;
  font-weight: 400;
}

.footer-logo img {
  max-height: 50px;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .footer-logo img {
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
  }
}

h3.footer-sec-title {
  margin-top: 0px;
  margin-bottom: 30px;
  color: #a6a6a6;
  font-family: Raleway;
  font-size: 13px;
  font-weight: 600;
  line-height: 17px;
  text-transform: uppercase;
  margin-left: 35px;
}
h3.footer-sec-title:before {
  content: '';
  width: 25px;
  height: 2px;
  background-color: #b4999c;
  position: absolute;
  top: 7px;
  left: 15px;
}

.footer-contact-info ul {
  padding: 0px;
}
.footer-contact-info ul li {
  padding: 7px 0px;
  list-style-type: none;
  color: #999;
  font-family: Raleway;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
}
.footer-contact-info ul .phone:before {
  font-family: 'FontAwesome';
  content: '\f095';
  font-size: 18px;
  padding-right: 10px;
  vertical-align: middle;
}
.footer-contact-info ul .email:before {
  font-family: 'FontAwesome';
  content: '\f0e0';
  font-size: 18px;
  padding-right: 10px;
  vertical-align: middle;
}

.post-card__item {
  font-family: Raleway;
  line-height: 18px;
  color: #5a656c;
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px #26282a;
}
.post-card__item:last-child {
  border-bottom: none;
}
.post-card__thumb {
  max-width: 82px;
  height: auto;
  float: left;
  width: 25%;
}
.post-card__thumb img {
  width: 100%;
  height: auto;
}
.post-card__description {
  float: left;
  width: 75%;
  padding-left: 10px;
  font-size: 13px;
}
.post-card__description h5 {
  margin-top: 0px;
  color: #5a656c;
}
.post-card__date {
  font-size: 10px;
}
.post-card p {
  margin: 0px;
}

.footer-social-share ul {
  padding: 0px;
}
.footer-social-share ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
}
.footer-social-share ul li:hover {
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  .column-1 {
    text-align: center;
    margin-bottom: 25px;
    border-bottom: solid 1px #26282a;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .column-2 {
    margin-bottom: 25px;
    border-bottom: solid 1px #26282a;
    padding-bottom: 15px;
  }
}

.hero-banner-slider .et_pb_slide {
  min-height: 500px;
}
@media screen and (max-width: 991px) {
  .hero-banner-slider .et_pb_slide {
    min-height: 400px;
  }
}
@media screen and (max-width: 767px) {
  .hero-banner-slider .et_pb_slide {
    min-height: 300px;
  }
}
@media screen and (max-width: 500px) {
  .hero-banner-slider .et_pb_slide {
    min-height: 200px;
  }
}

.intro-section {
  font-family: Raleway;
  line-height: 30px;
}
.intro-section h1 {
  font-size: 30px;
  font-weight: 700;
}
.intro-section h3 {
  font-size: 20px;
  font-weight: 400;
}
.intro-section p {
  color: #333;
  margin-top: 25px !important;
  margin-bottom: 35px !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.latest-project__list {
  width: 100%;
  display: block;
  margin-left: 0px !important;
}
@media screen and (max-width: 991px) {
  .latest-project__list {
    padding: 0px 5% !important;
  }
}
.latest-project__list li {
  list-style-type: none;
  width: 33.33%;
  position: relative;
  overflow: hidden !important;
  display: block;
  float: left;
}
@media screen and (max-width: 991px) {
  .latest-project__list li {
    width: 100%;
    display: block;
    margin-bottom: 15px !important;
  }
}
.latest-project__description {
  background-color: rgba(35, 39, 44, 0.7) !important;
  position: absolute;
  width: 100%;
  color: white !important;
  padding-top: 15px !important;
  text-align: center !important;
}
.latest-project__description > a {
  color: #fff !important;
  text-decoration: none !important;
}

#et_builder_outer_content #latest-project--full {
  width: 100% !important;
}

.work-page {
  min-height: 350px;
  max-height: 350px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.custom-margin {
  margin-top: 80px !important;
  margin-bottom: 30px !important;
}

.project-listing-page {
  padding-bottom: 50px;
}

.project-filter {
  text-align: center;
  border-bottom: solid 1px #ddd;
  border-top: solid 1px #ddd;
  padding: 15px 0;
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.project-filter li {
  margin: 5px 15px;
}
.project-filter li a:focus {
  font-weight: bold;
}

.project-card__wrapper .card--link {
  display: block;
}

.project-card {
  padding: 0px;
  max-width: 1170px;
  display: block;
  margin: 0 auto;
}
.project-card__wrapper {
  list-style-type: none;
  width: 50%;
  padding: 7px;
  float: left;
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .project-card__wrapper {
    width: 100%;
    display: block;
  }
}
.project-card__item {
  background-color: #ddd;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .project-card__item {
    width: 95%;
    margin: 0 auto;
  }
}
.project-card__description {
  background-color: rgba(35, 39, 44, 0.7);
  color: white;
  padding: 5px 15px;
  z-index: 5;
  position: absolute;
  width: 100%;
}
.project-card__description li {
  vertical-align: middle;
}
.project-card__description li:last-child {
  float: right;
  margin-top: 13px;
}
@media screen and (max-width: 500px) {
  .project-card__description li:last-child {
    float: none;
    margin-top: 0px;
  }
}
.project-card__description li:last-child a {
  padding: 8px 20px;
  font-size: 12px;
  line-height: 1.2;
  border-radius: 3px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.project-card__description li:last-child a:focus, .project-card__description li:last-child a.focus {
  color: #bb9095;
  border: 2px solid #bb9095;
}
.project-card__description li:last-child a:hover {
  color: #bb9095;
  border: 2px solid #bb9095;
}
.project-card__image {
  width: 100%;
  display: block;
}
.project-card__title {
  color: white;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.project-card__caption {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
.project-card .link--cover {
  position: absolute;
  width: 100%;
  max-width: 100%;
  display: block;
  height: 100%;
  top: 0px;
  border: none;
  z-index: 1;
}

.project-single__header {
  background-color: #8a969d;
  padding: 5% 0;
}
.project-single__header h1 {
  color: white;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}
.project-single__header h3 {
  color: white;
  margin-top: 0px;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .project-single__header h3 {
    margin-top: 20px;
  }
}
.project-single__header p {
  color: #ddd;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.project-single__gallery {
  padding: 5% 0;
}
.project-single__gallery .container {
  width: 100% !important;
}
.project-single__gallery ul {
  display: block;
  padding: 0px;
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 20px;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
@media (max-width: 1199px) {
  .project-single__gallery ul {
    width: 100%;
  }
}
.project-single__gallery li {
  list-style-type: none;
  overflow: hidden;
  background-color: #111;
  float: left;
  width: 32.86667%;
  margin-right: 0.7%;
  margin-bottom: 0.7%;
}
.project-single__gallery li:nth-child(n) {
  margin-right: 0.7%;
}
.project-single__gallery li:nth-child(3n) {
  margin-right: 0px;
}
@media (max-width: 767px) {
  .project-single__gallery li {
    width: 49.65%;
    margin-right: 0.7%;
    margin-bottom: 0.7%;
  }
  .project-single__gallery li:nth-child(n) {
    margin-right: 0.7%;
  }
  .project-single__gallery li:nth-child(2n) {
    margin-right: 0px;
  }
}
@media (max-width: 550px) {
  .project-single__gallery li {
    width: 100%;
    margin-right: 0.7%;
    margin-bottom: 0.7%;
  }
  .project-single__gallery li:nth-child(n) {
    margin-right: 0.7%;
  }
  .project-single__gallery li:nth-child(1n) {
    margin-right: 0px;
  }
}
.project-single__gallery .img-responsive {
  display: block;
  margin: 0 auto;
  width: 100%;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.project-single__gallery .img-responsive:hover {
  opacity: 0.3;
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.mfp-close {
  border: none !important;
  opacity: 1 !important;
}

.mfp-image-holder .mfp-close:hover,
.mfp-iframe-holder .mfp-close:hover {
  opacity: 1;
  color: #bb9095;
}

#image-pop-wrapper {
  /* The Modal (background) */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
}
#image-pop-wrapper .modal {
  display: none;
  position: fixed;
  z-index: 2048;
  padding-top: 70px;
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: black;
  /* Black w/ opacity */
  /* Modal Content */
}
#image-pop-wrapper .modal .modal-content {
  position: relative;
  background-color: transparent;
  margin: auto;
  padding: 0;
  width: 100%;
  height: 90%;
}
@media (max-width: 1024px) {
  #image-pop-wrapper .modal .modal-content {
    height: 70%;
  }
}
@media (max-width: 767px) {
  #image-pop-wrapper .modal .modal-content {
    height: 45%;
  }
}
@media (max-width: 350px) {
  #image-pop-wrapper .modal .modal-content {
    height: 35%;
  }
}
#image-pop-wrapper .modal .modal-content .mySlides {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  width: 100%;
}
#image-pop-wrapper .modal .modal-content img {
  display: block;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
#image-pop-wrapper .close {
  color: white;
  position: absolute;
  top: 30px;
  right: 5%;
  font-size: 35px;
  font-weight: 300 !important;
  opacity: 1;
}
#image-pop-wrapper .close:hover, #image-pop-wrapper .close:focus {
  color: #bb9095;
  text-decoration: none;
  cursor: pointer;
  text-shadow: none;
  font-weight: 500 !important;
}
#image-pop-wrapper .mySlides {
  display: none;
}
#image-pop-wrapper .prev,
#image-pop-wrapper .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 8px 15px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0px;
  user-select: none;
  -webkit-user-select: none;
}
#image-pop-wrapper .next {
  right: 0;
  border-radius: 0px;
}
#image-pop-wrapper .prev:hover,
#image-pop-wrapper .next:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

body.img-modal {
  overflow: hidden;
}

.what-we-do-section__caption, .how-we-work__caption {
  max-width: 850px;
  color: #333;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

.what-we-do-section__bulrb .et_pb_blurb_content {
  margin-top: 5% !important;
  max-width: 850px !important;
}
.what-we-do-section__bulrb .et_pb_main_blurb_image {
  min-width: 260px !important;
}
@media screen and (max-width: 767px) {
  .what-we-do-section__bulrb .et_pb_main_blurb_image {
    min-width: 100% !important;
    display: block !important;
    margin: 0 auto !important;
    margin-bottom: 20px !important;
  }
}
.what-we-do-section__bulrb .et_pb_main_blurb_image img {
  width: 100% !important;
  display: block !important;
  margin: 0 auto !important;
}
@media screen and (max-width: 767px) {
  .what-we-do-section__bulrb .et_pb_main_blurb_image img {
    max-width: 260px !important;
  }
}
.what-we-do-section__bulrb h4 {
  color: #555;
  font-size: 24px;
  font-weight: 400;
  line-height: 70px;
}
.what-we-do-section__bulrb li {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  position: relative;
  padding-left: 20px !important;
}
.what-we-do-section__bulrb li:before {
  content: '';
  width: 8px;
  height: 8px;
  background-color: #bb9095;
  position: absolute;
  top: 13px;
  left: 1px;
  border-radius: 50%;
}

.how-we-work__bulrb .et_pb_blurb_content {
  margin-top: 5% !important;
  max-width: 850px !important;
}
.how-we-work__bulrb .et_pb_main_blurb_image {
  min-width: 300px !important;
}
@media screen and (max-width: 767px) {
  .how-we-work__bulrb .et_pb_main_blurb_image {
    min-width: 100% !important;
    display: block !important;
    margin: 0 auto !important;
    margin-bottom: 20px !important;
  }
}
.how-we-work__bulrb .et_pb_main_blurb_image img {
  width: 100% !important;
  display: block !important;
  margin: 0 auto !important;
}
@media screen and (max-width: 767px) {
  .how-we-work__bulrb .et_pb_main_blurb_image img {
    max-width: 300px !important;
  }
}
.how-we-work__bulrb .et_pb_blurb_container {
  vertical-align: middle !important;
}
.how-we-work__bulrb h4 {
  color: #555;
  font-size: 24px;
  font-weight: 600;
  line-height: 70px;
  margin-bottom: 15px !important;
}
.how-we-work__bulrb p {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.profile-section__text {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
.profile-section__bulrb {
  margin-bottom: 50px !important;
}
.profile-section__bulrb .et_pb_main_blurb_image {
  margin-bottom: 15px !important;
}

.press-section .press-section__two-column .et_pb_column {
  padding: 5% 2% !important;
  background-color: #fff !important;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.shop-wrapper {
  background-color: #8a969d;
  padding-bottom: 4%;
}

.shop-container {
  padding: 0px;
  max-width: 1100px;
  display: block;
  margin: 0 auto;
  -moz-column-width: 25em;
  -webkit-column-width: 25em;
  -moz-column-gap: .5em;
  -webkit-column-gap: .5em;
}
@media (max-width: 1199px) {
  .shop-container {
    max-width: 740px;
  }
}
.shop-container__item {
  display: inline-block;
  margin: 1em 1em;
  padding: 0;
  width: 98%;
}
.shop-container__product {
  background-color: #bb9095;
  max-width: 360px;
  display: block;
  margin: 0 auto;
}
.shop-container__product-info {
  padding: 15px;
  line-height: 70px;
}
.shop-container__product-info h4,
.shop-container__product-info p {
  color: #ffffff !important;
}
.shop-container__product-info h4 span {
  text-decoration: underline;
}

.contact_form_theme p {
  display: block;
  margin-bottom: 15px !important;
}
.contact_form_theme .et_contact_bottom_container {
  float: none !important;
  text-align: center !important;
  clear: both;
}
.contact_form_theme .et_contact_bottom_container button {
  display: block;
  margin: 0 auto;
}

article {
  margin-top: 25px;
  background-color: #f5f5f5;
  padding: 25px 15px;
}

.comments-area h2 {
  font-size: 14px;
  border-bottom: solid 1px #ddd;
  border-top: solid 1px #ddd;
  padding: 15px 0;
}
.comments-area .comment-reply-title {
  font-size: 14px;
  border-bottom: solid 1px #ddd;
  border-top: solid 1px #ddd;
  padding: 15px 0;
}

#commentform label {
  display: block !important;
  color: #777 !important;
}
#commentform input {
  display: block !important;
  width: 70% !important;
}

.widget {
  margin-top: 25px;
  border-bottom: solid 1px #f5f5f5;
  padding-bottom: 20px;
}

.widget_search label {
  width: 100% !important;
}
.widget_search label span {
  display: none;
}
.widget_search input {
  width: 100% !important;
}
.widget_search .search-submit {
  display: none;
}

.widget-title {
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
