.blog-base {}

article {
    margin-top: 25px;
    background-color: #f5f5f5;
    padding: 25px 15px;
}

.comments-area {
    h2 {
        font-size: 14px;
        border-bottom: solid 1px #ddd;
        border-top: solid 1px #ddd;
        padding: 15px 0;
    }
    .comment-reply-title {
        font-size: 14px;
        border-bottom: solid 1px #ddd;
        border-top: solid 1px #ddd;
        padding: 15px 0;
    }
}

#commentform {
    label {
        display: block !important;
        color: #777 !important;
    }
    input {
        display: block !important;
        width: 70% !important;
    }
}

.blog-sidebar {}

.widget {
    margin-top: 25px;
    border-bottom: solid 1px #f5f5f5;
    padding-bottom: 20px;
}

.widget_search {
    label {
        width: 100% !important;
        span {
            display: none;
        }
    }
    input {
        width: 100% !important;
    }
    .search-submit {
        display: none;
    }
}

.widget-title{
    font-size: 16px;
}