/*
button-variant-darken($color, $background);
button-variant-lighten($color, $background);
button-variant-multi($color, $color-hover, $background, $background-hover);
button-variant-transparent($color, $color-hover, $border-color, $border-color-hover, $border-size)
*/

/* button-font-style($text-transform, $font-weight) */

/* button-radius($radius) */

/* button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) */

/* button-spacing($margin) */

.btn-sk {
    display: inline-block;
    margin-bottom: 0; // For input.btn
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    white-space: nowrap;
}

.btn-sk-lg{
    @include button-size(15px,50px,16px,1.7,5px);
}
.btn-sk-md{
    @include button-size(12px,40px,16px,1.55,5px);
}
.btn-sk-nm{
    @include button-size(10px,35px,14px,1.5,3px);
}
.btn-sk-sm{
    @include button-size(5px,20px,13px,1.5,3px);
}

.btn-shop{
     @include button-variant-transparent(#fff, $pt-color, #fff, $pt-color, 2px);
}


.btn-pink-theme.et_pb_bg_layout_light{
color: $pt-color !important;
padding: 0.8em 1.7em !important;
}