.contact_form_theme{


    p{
        display: block;
        margin-bottom: 15px !important;

            input{


    }

    }

    .et_contact_bottom_container{
        float: none !important;
        text-align: center !important;
        clear: both;
        @extend %clear;

        button{
            display: block;
            margin: 0 auto;
        }
    }


}