#main-footer {
    background-color: #181b1f;
    min-height: 100px;
    padding-top: 75px;
    .footer-copyinfo {
        background-color: #111316;
        text-align: center;
        margin-top: 3%;
        p {
            margin: 0px;
            line-height: 5;
            color: #777;
            font-family: Raleway;
            font-size: 13px;
            font-weight: 400;
        }
    }
}

.footer-logo {
    img {
        max-height: 50px;
        margin-bottom: 20px;

        @include tablets(){
            display: block;
            margin: 0 auto;
            margin-bottom: 25px;
        }
    }
}

h3.footer-sec-title {
    margin-top: 0px;
    margin-bottom: 30px;
    color: #a6a6a6;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 600;
    line-height: 17px;
    text-transform: uppercase;
    margin-left: 35px;
    &:before {
        content: '';
        width: 25px;
        height: 2px;
        background-color: #b4999c;
        position: absolute;
        top: 7px;
        left: 15px;
    }
}

.footer-contact-info ul {
    padding: 0px;
    li {
        padding: 7px 0px;
        list-style-type: none;
        color: #999;
        font-family: Raleway;
        font-size: 13px;
        font-weight: 400;
        line-height: 25px;
    }
    .phone {
        &:before {
            font-family: 'FontAwesome';
            content: '\f095';
            font-size: 18px;
            padding-right: 10px;
            vertical-align: middle;
        }
    }
    .email {
        &:before {
            font-family: 'FontAwesome';
            content: '\f0e0';
            font-size: 18px;
            padding-right: 10px;
            vertical-align: middle;
        }
    }
}

.post-card {
    &__item {
        font-family: Raleway;
        line-height: 18px;
        color: #5a656c;
        position: relative;
        display: block;
        width: 100%;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: solid 1px #26282a;

        &:last-child{
            border-bottom: none;
        }
        @extend %clear;
    }
    &__thumb {
        max-width: 82px;
        height: auto;
        float: left;
        width: 25%;
        img {
            width: 100%;
            height: auto;
        }
    }
    &__description {
        float: left;
        width: 75%;
        padding-left: 10px;
        font-size: 13px;
        h5 {
            margin-top: 0px;
            color: #5a656c;
        }
    }
    &__excerpt {}
    &__date {
        font-size: 10px;
    }
    p {
        margin: 0px;
    }
}

.footer-social-share ul {
    padding: 0px;
    li {
        list-style-type: none;
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 10px;
        &:hover {
            opacity: 0.7;
        }
    }
}

.column-1{
    @include tablets(){
        text-align: center;
        margin-bottom: 25px;
        border-bottom: solid 1px #26282a;
        padding-bottom: 15px;

    }
}

.column-2{
    @include tablets(){

        margin-bottom: 25px;
        border-bottom: solid 1px #26282a;
        padding-bottom: 15px;

    }
}