%input {
    color: #555;
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 10px 5px;
    font-weight: normal;

}

%placeholder-text {
    &::-moz-placeholder {
        color: #999;
        opacity: 0.8;
    }
    &:-ms-input-placeholder {
        color: #999;
    }
    &::-webkit-input-placeholder {
        color: #999;
    }
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    @extend %input;
    @extend %placeholder-text;

    &:focus {
        color: #111;
    }
}

select {
    @extend %input;
    @extend %placeholder-text;
}

textarea {
    width: 100%;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    border-radius: 3px;
    line-height: 1;
    padding: 10px 5px;
    @include button-variant-transparent(#777, $pt-color, #777, $pt-color, 2px);
    @include button-size(15px,20px,13px,1.5,3px);
    max-width: 200px;
}