/* =======================================================================
## ++ Globals
========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');
html {
    font-size: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Raleway', sans-serif !important;
}

* {
    box-sizing: border-box;
}


/* =======================================================================
## ++ Cleafix
========================================================================== */


/* float clearing for IE6 */

* html .clearfix {
    height: 1%;
    overflow: visible;
}


/* float clearing for IE7 */

*+html .clearfix {
    min-height: 1%;
}


/* float clearing for everyone else */

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}

.clr {
    clear: both;
}

%clear {
    clear: both;
    &:after {
        content: " ";
        display: block;
        clear: both;
    }
    &:before {
        content: " ";
        display: block;
        clear: both;
    }
}

@media (max-width: 1199px) {
    .home {
        .et_divi_builder #et_builder_outer_content .et_pb_with_background .et_pb_row {
            width: 100% !important;
            @include tablets() {
                width: 80% !important;
            }
        }
    }
}

@media (max-width: 980px) {
    .et_divi_builder #et_builder_outer_content .et_pb_row,
    .et_divi_builder #et_builder_outer_content .et_pb_column .et_pb_row_inner {
        padding: 2px 0 !important;
    }
}

ul li {
    list-style-type: none !important;
}

ul {
    padding-left: 0px;
}

.inner-hero-banner {
    min-height: 650px !important;
    @include desktop() {
        min-height: 450px !important;
    }
    @include tablets() {
        min-height: 350px !important;
    }
}

.anchor-modal {
    a {
        //background-color: $pt-color !important;
        //padding: 5px 5px !important;

    }
}

#et_builder_outer_content .et_pb_module a{
    //text-decoration: underline !important;
}