#masthead-v1 {
    display: block;
    height: 100px;

    @include tablets(){
        height:85px;
    }
    .site-navigation{
        @include transition(compact(all 0.5s));

    &.sticky-navbar {
        position: fixed;
        z-index: 1024;
        width: 100%;
         @include transition(compact(all 0.5s));
    }
    }

    .navbar-toggle {
        position: absolute;
        right: 5px;
        top: 20px;
    }
    .navbar {
        position: relative;
        min-height: 100px;
        @include tablets() {
            min-height: 85px;
        }
        margin-bottom: 0px;
        border: none;
        border-radius: 0px;
    }
    .navbar-default {
        background-color: #181b1f;
        padding-top: 10px;
        padding-left: 3%;
        padding-right: 3%;
    }
}

.navbar-brand>img {
    display: block;
    margin-top: 8px;
    max-height: 50px;
    @include desktop() {
        max-height: 35px;
        margin-top: 2px;
    }
}

#main-menu {
    margin-top: 15px;
}

.navbar-default .navbar-nav>li>a {
    color: #eee;
    font-family: Raleway;
    font-size: 0.813rem;
    font-weight: 400;
    text-transform: uppercase;
}

.current-menu-item {
    a {
        color: $pt-color !important;
    }
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: $pt-color;
    background-color: transparent;
}

.navbar-header {
    @include tablets() {
        height: 75px;
    }
}

.sub-menu {
    background-color: #fff;
    padding: 5px 0px;
    min-width: 150px;
    position: absolute;
    z-index: 999;
    display: none;
    @include tablets() {
        position: relative;
        display: block;
        background-color: transparent;
    }
    li {
        list-style: none;
        a {
            padding: 10px 15px;
            display: block;
            text-transform: uppercase;
            @include tablets() {
                color: #eee;
            }
            &:hover {
                background-color: #f5f5f5;
                color: $pt-color;
                @include tablets() {
                    background-color: transparent;
                }
            }
        }
    }
}

.menu-item-has-children:hover>.sub-menu {
    display: block;
}