.hero-banner-slider {
    .et_pb_slide {
        min-height: 500px;
        @include desktop() {
            min-height: 400px;
        }
        @include tablets() {
            min-height: 300px;
        }
        @include phones() {
            min-height: 200px;
        }
    }
}

.intro-section {
    font-family: Raleway;
    line-height: 30px;
    h1 {
        font-size: 30px;
        font-weight: 700;
    }
    h3 {
        font-size: 20px;
        font-weight: 400;
    }
    p {
        color: #333;
        margin-top: 25px !important;
        margin-bottom: 35px !important;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
    }
}

.latest-project-container {
    @extend %clear;
}

.latest-project {
    &__list {
        width: 100%;
        display: block;

        @include desktop(){
            padding: 0px 5% !important;
        }
        @extend %clear;
        margin-left: 0px !important;
        @extend %clear;
        li {
            list-style-type: none;
            width: 33.33%;
            position: relative;
            overflow: hidden !important;
            @include desktop() {
                width: 100%;
                display: block;
                margin-bottom: 15px !important;
            }
            display: block;
            float: left;

        }
    }
    &__description {
        background-color: rgba(35, 39, 44, 0.7) !important;
        position: absolute;
        width: 100%;
        color: white !important;
        padding-top: 15px !important;
        text-align: center !important;
        >a {
            color: #fff !important;
            text-decoration: none !important;
        }
    }
}

#et_builder_outer_content {
    #latest-project--full {
        width: 100% !important;
    }
}