/* =======================================================================
## ++ Media Queries
========================================================================== */


/*
    Used for media queries.
    Add these mixins in your normal scss flow.

    Eg.
    .container{
        width:1024px;

        @include tablets{
            width:90%;
        }
    }
*/

@mixin desktop {
    @media screen and (max-width: 991px) {
        @content;
    }
}

@mixin tablets {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin phones {
    @media screen and (max-width: 500px) {
        @content;
    }
}


/* =======================================================================
## ++ Unit transform
========================================================================== */


/*
    Used for making containers have width in percentages.
    Usage: define elemnt width in px and the width of parent elemnt in px.
    eg. .block{width:cp(512px, 1024px)} this will result in .block{width:50%;}
*/

@function cp($target, $container) {
    @return ($target / $container) * 100%;
}


/*
    Used for making px values convert to rem values
    Usage: define font-size in px and it will convert to rems
    eg. font-size: rem(14px);
*/

@function rem($target, $context: $base-font-size) {
    @if $target==0 {
        @return 0
    }
    @return $target / $context+0rem;
}

$base-font-size:16px;

/*
    Link hover and active stage
*/

@mixin link($color__link) {
    color: $color__link;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
        color: darken($color__link, 10%);
        text-decoration: none;
    }
}

@mixin button-variant-darken($color, $background) {
    color: $color;
    background-color: $background;
    @include transition(compact(all 0.5s));
    &:focus,
    &.focus {
        color: $color;
        background-color: darken($background, 20%);
    }
    &:hover {
        color: $color;
        background-color: darken($background, 20%);
    }
}

@mixin button-variant-lighten($color, $background) {
    color: $color;
    background-color: $background;
    @include transition(compact(all 0.5s));
    &:focus,
    &.focus {
        color: $color;
        background-color: lighten($background, 20%);
    }
    &:hover {
        color: $color;
        background-color: lighten($background, 20%);
    }
}

@mixin button-variant-multi($color, $color-hover, $background, $background-hover) {
    color: $color;
    background-color: $background;
    @include transition(compact(all 0.5s));
    &:focus,
    &.focus {
        color: $color-hover;
        background-color: $background-hover;
    }
    &:hover {
        color: $color-hover;
        background-color: $background-hover;
    }
}

@mixin button-variant-transparent($color, $color-hover, $border-color, $border-color-hover, $border-size) {
    color: $color;
    background-color: transparent;
    border: $border-size solid $border-color;
    @include transition(compact(all 0.5s));
    &:focus,
    &.focus {
        color: $color-hover;
        border: $border-size solid $border-color-hover;
    }
    &:hover {
        color: $color-hover;
        border: $border-size solid $border-color-hover;
    }
}

@mixin button-radius($radius) {
    border-radius: $radius;
}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
    padding: $padding-vertical $padding-horizontal;
    font-size: $font-size;
    line-height: $line-height;
    border-radius: $border-radius;
}

// Button font Style
@mixin button-font-style($text-transform, $font-weight) {
    text-transform: $text-transform;
    font-weight: $font-weight;
}

// Button Spacing
@mixin button-spacing($margin) {
    margin-top: $margin;
    margin-bottom: $margin;
}

@mixin getCol($col, $margin) {
    $margin_per: ($margin / 100) * 10%;
    width: ((100% - ($margin_per * ($col - 1)))/$col);
    margin-right: $margin_per;
    margin-bottom: $margin_per;
    &:nth-child(n) {
        margin-right: $margin_per;
    }
    &:nth-child(#{$col}n) {
        margin-right: 0px;
    }
}