.profile-section {
    &__text {
        color: #333;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
    }
    &__bulrb {
        margin-bottom: 50px !important;
        .et_pb_main_blurb_image {
            margin-bottom: 15px !important;
        }
    }
}

.press-section {
    .press-section__two-column {
        .et_pb_column {
            padding: 5% 2% !important;
            background-color: #fff !important;
            @include border-radius(5px);
        }
    }
}