%title--caption {
    max-width: 850px;
    color: #333;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}

.what-we-do-section {
    &__caption {
        @extend %title--caption;
    }
    &__bulrb {
        .et_pb_blurb_content {
            margin-top: 5% !important;
            max-width: 850px !important;
        }
        .et_pb_main_blurb_image {
            min-width: 260px !important;
            @include tablets() {
                min-width: 100% !important;
                display: block !important;
                margin: 0 auto !important;
                margin-bottom: 20px !important;
            }
            img {
                width: 100% !important;
                display: block !important;
                margin: 0 auto !important;
                @include tablets() {
                    max-width: 260px !important;
                }
            }
        }
        h4 {
            color: #555;
            font-size: 24px;
            font-weight: 400;
            line-height: 70px;
        }
        li {
            color: #333;
            font-size: 16px;
            font-weight: 400;
            line-height: 35px;
            position: relative;
            padding-left: 20px !important;
            &:before {
                content: '';
                width: 8px;
                height: 8px;
                background-color: #bb9095;
                position: absolute;
                top: 13px;
                left: 1px;
                border-radius: 50%;
            }
        }
    }
}

.how-we-work {
    &__bulrb {
        .et_pb_blurb_content {
            margin-top: 5% !important;
            max-width: 850px !important;
        }
        .et_pb_main_blurb_image {
            min-width: 300px !important;
            @include tablets() {
                min-width: 100% !important;
                display: block !important;
                margin: 0 auto !important;
                margin-bottom: 20px !important;
            }
            img {
                width: 100% !important;
                display: block !important;
                margin: 0 auto !important;
                @include tablets() {
                    max-width: 300px !important;
                }
            }
        }
        .et_pb_blurb_container {
            vertical-align: middle !important;
        }
        h4 {
            color: #555;
            font-size: 24px;
            font-weight: 600;
            line-height: 70px;
            margin-bottom: 15px !important;
        }
        p {
            color: #333;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
        }
    }
    &__caption {
        @extend %title--caption;
    }
}