.shop-wrapper {
    background-color: #8a969d;
    padding-bottom: 4%;
}

.shop-container {
    padding: 0px;
    max-width: 1100px;
    display: block;
    margin: 0 auto;
    @media(max-width: 1199px) {
        max-width: 740px;
    }
    -moz-column-width: 25em;
    -webkit-column-width: 25em;
    -moz-column-gap: .5em;
    -webkit-column-gap: .5em;
    &__item {
        display: inline-block;
        margin: 1em 1em;
        padding: 0;
        width: 98%;
    }
    &__product {
        background-color: $pt-color;
        max-width: 360px;
        display: block;
        margin: 0 auto;
    }
    &__product-info {
        padding: 15px;
        line-height: 70px;
        h4,
        p {
            color: #ffffff !important;
        }

        h4 span{
            text-decoration: underline;
        }
    }
}