h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}

p {
    margin-bottom: 1.5em;
    line-height: 1.8;
}

a {
    @include link($link__color);
}

.section-title-global {

	position: relative;
    text-align: center;
	margin: 15px 0 !important;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0px;
        display: inline-block;
        color: #555;
            font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    	@include desktop(){
		font-size: 24px;
	}
    }
    &:after {
        content: '';
        width: 112px;
        height: 3px;
        background-color: #b4999c;
        position: absolute;
        margin-left: 20px;
        top: 20px;

		@include tablets(){
			    margin-left: 50%;
				left: -56px;
				top: auto;
				bottom: -10px;
		}
    }
    &:before {
        content: '';
        width: 112px;
        height: 3px;
        background-color: #b4999c;
        position: absolute;
        margin-left: -132px;
        top: 20px;

				@include tablets(){
			    margin-left: 50%;
				left: -56px;
				top: -15px;
		}
    }

	&.white {
        &:after {
            background-color: #fff;
        }
        &:before {
            background-color: #fff;
        }
    }

    // Divi update : fix
    .et_pb_text_inner{
      display: inline-block !important;
    }
}

.med-text{
	p{
color: white;
font-family: Raleway;
font-size: 18px;
font-weight: 400;
line-height: 30px;
	}

}