    .work-page {
        min-height: 350px;
        max-height: 350px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .custom-margin {
        margin-top: 80px !important;
        margin-bottom: 30px !important;
    }

    .project-listing-page {
        @extend %clear;
        padding-bottom: 50px;
    }

    .project-filter {
        text-align: center;
        border-bottom: solid 1px #ddd;
        border-top: solid 1px #ddd;
        padding: 15px 0;
        max-width: 1140px;
        margin: 0 auto;
        margin-bottom: 25px;
        li {
            margin: 5px 15px;
            a {
                &:focus {
                    font-weight: bold;
                }
            }
        }
    }

    .project-card__wrapper {
        .card--link {
            display: block;
            @extend %clear;
        }
    }

    .project-card {
        padding: 0px;
        max-width: 1170px;
        display: block;
        margin: 0 auto;
        &__wrapper {
            list-style-type: none;
            width: 50%;
            padding: 7px;
            float: left;
            margin-bottom: 15px;
            @include tablets() {
                width: 100%;
                display: block;
            }
        }
        &__item {
            background-color: #ddd;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            position: relative;
            overflow: hidden;
            @include tablets() {
                width: 95%;
                margin: 0 auto;
            }
        }
        &__description {
            background-color: rgba(35, 39, 44, 0.7);
            color: white;
            padding: 5px 15px;
            z-index: 5;
            position: absolute;
            width: 100%;
            @extend %clear;
            li {
                vertical-align: middle;
                &:last-child {
                    float: right;
                    margin-top: 13px;
                    @include phones() {
                        float: none;
                        margin-top: 0px;
                    }
                    a {
                        @include button-size(8px, 20px, 12px, 1.2, 3px);
                        @include button-variant-transparent(#ffffff, $pt-color, #ffffff, $pt-color, 2px);
                    }
                }
            }
        }
        &__image {
            width: 100%;
            display: block;
        }
        &__title {
            color: white;
            font-family: Raleway;
            font-size: 18px;
            font-weight: 400;
            text-transform: uppercase;
        }
        &__caption {
            font-size: 13px;
            font-weight: 400;
            text-transform: uppercase;
        }
        & .link--cover {
            position: absolute;
            width: 100%;
            max-width: 100%;
            display: block;
            height: 100%; //background-color: rgba(0, 0, 0, 0.5);
            top: 0px;
            border: none;
            z-index: 1;
        }
    }

    .project-single__header {
        background-color: #8a969d;
        padding: 5% 0;
        h1 {
            color: white;
            font-family: Raleway;
            font-size: 30px;
            font-weight: 400;
            line-height: 30px;
            text-transform: uppercase;
        }
        h3 {
            color: white;
            margin-top: 0px;
            font-family: Raleway;
            font-size: 24px;
            font-weight: 400;
            text-transform: uppercase;
            @include tablets() {
                margin-top: 20px;
            }
        }
        p {
            color: #ddd;
            font-family: Raleway;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
        }
    }

    .project-single__gallery {
        .container {
            width: 100% !important;
        }
        padding: 5% 0;
        ul {
            display: block;
            padding: 0px;
            width: 100%;
            @media(max-width: 1199px) {
                width: 100%;
            }
            margin: 0 auto;
            max-width: 1440px;
            padding: 0 20px;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
        li {
            list-style-type: none;
            overflow: hidden;
            background-color: #111;
            float: left;
            @include getCol(3, 7);
            @media(max-width: 767px) {
                @include getCol(2, 7);
            }
            @media(max-width:550px) {
                @include getCol(1, 7);
            }
        }
        .img-responsive {
            display: block;
            margin: 0 auto;
            width: 100%;
            @include transition(compact(all 0.5s));
            &:hover {
                opacity: 0.3;
                -moz-transform: scale(1.2);
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
            }
        }
    }

    .mfp-close {
        border: none !important;
        opacity: 1 !important;
    }

    .mfp-image-holder .mfp-close:hover,
    .mfp-iframe-holder .mfp-close:hover {
        opacity: 1;
        color: $pt-color;
    } // Work
    #image-pop-wrapper {
        @extend .clearfix;
        /* The Modal (background) */
        .modal {
            display: none;
            position: fixed;
            z-index: 2048;
            padding-top: 70px;
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 1);
            /* Black w/ opacity */
            /* Modal Content */
            .modal-content {
                position: relative;
                background-color: transparent;
                margin: auto;
                padding: 0;
                width: 100%; //max-width: 1200px;
                height: 90%;
                @media(max-width: 1024px) {
                    height: 70%;
                }
                @media(max-width:767px) {
                    height: 45%;
                }
                @media(max-width:350px) {
                    height: 35%;
                }
                .mySlides {
                    display: block;
                    position: absolute;
                    height: 100%;
                    top: 0;
                    bottom: 0;
                    width: 100%;
                }
                img {
                    display: block;
                    margin: 0 auto;
                    height: 100%;
                    position: relative;
                }
            }
        }
        .close {
            color: white;
            position: absolute;
            top: 30px;
            right: 5%;
            font-size: 35px;
            font-weight: 300 !important;
            opacity: 1;
            &:hover,
            &:focus {
                color: $pt-color;
                text-decoration: none;
                cursor: pointer;
                text-shadow: none;
                font-weight: 500 !important;
            }
        }
        .mySlides {
            display: none;
        }
        /* Next & previous buttons */
        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 8px 15px;
            margin-top: -50px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            transition: 0.6s ease;
            border-radius: 0px;
            user-select: none;
            -webkit-user-select: none;
        }
        /* Position the "next button" to the right */
        .next {
            right: 0;
            border-radius: 0px;
        }
        /* On hover, add a black background color with a little bit see-through */
        .prev:hover,
        .next:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    body.img-modal {
        overflow: hidden;
    }